body {
margin: 0;
}
div{
    background-color: midnightblue;
    border:300px;
    border-width: px;
    border-top: 20px;
}


.a{
    background-color: powderblue;






}

.b{
    background-color: red;
    width: 200px;
    height: 200px;

}
.c{
    background-color: yellow;
    width: 200px;
    height: 200px;

}
.eat{
    text-decoration: underline;
    img{
        position:relative;
        top:20px
    }
}

